/* CSS file */
* {
  background-color: rebeccapurple;
}
/* body {
  background-color: royalblue;
} */

#thisID {
  color: greenyellow;b
}

h3 {
  color: red;
}

.isClass {
  color: teal;
}
#isID {
  color: goldenro